
//------------------------------------*\
//    #RESET
//------------------------------------*/

/* HTML5 display-role reset for older browsers */

::selection {
  background: $color-selection-bg;
  color: $color-selection-txt;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote {
  &:before, &:after {
    content: '';
    content: none; 
  } 
}

q {
  &:before, &:after {
    content: '';
    content: none; 
  } 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

button {
  border: none;
  width: auto;
  background: transparent;
  outline:none;
}

a {
  text-decoration: none;
  &:active, 
  &:hover, 
  &:visited,
  &:focus {
    text-decoration: none;
  }
}