// FadeUp
.fade-up {
    opacity: 0;
    animation-direction: alternate;
    animation: fadeUp 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// FadeDown
.fade-down {
    opacity: 0;
    animation-direction: alternate;
    animation: fadeDown 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// ZoomIn
.zoom-in {
    animation: zoomIn 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

// SlideLeft
.slide-left {
    animation: slideLeft 1.5s ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// SlideRight
.slide-right {
    animation: slideRight 1.5s ease-in-out;
    animation-fill-mode: forwards;
}
  
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// SlideUp
.slide-up {
    animation: slideUp 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Pulse Pin
.pulse-pin {
    animation: pulsePin 3s infinite ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes pulsePin {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: .8;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  