.grid {
    .row {
        margin-bottom: 32px;
        &-one, &-two, &-three, &-four {
            display: grid;
            grid-gap: 30px;
        }
        &-one {
            grid-template-columns: 1fr;
        }
        &-two {
            grid-template-columns: 1fr 1fr;
        }
        &-three {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &-four {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}