.table {
    display: table;
    position: relative;
    width: 100%;
    .thead {
        display: inherit;
        border-radius: 10px 10px 0 0;
        padding: 32px 32px 16px 32px;
        width: 100%;
        .th {
            color: $color-primary;
            font-size: 19px;
            font-weight: bold;
            line-height: 19px;
        }
    }
    .tbody {
        display: inherit;
        width: 100%;
        .th, .td {
            border-bottom: 1px solid $color-border;
            padding: 18px 32px;
            transition: $transition-lazy;
        }
        .tr {
            &:hover {
                .th, .td {
                    color: $color-primary;
                }
                background-color: $color-bg;
            }
        }
    }
    .tr {
        display: table-row;
        transition: $transition-lazy;
        width: 100%;
        &:last-of-type {
            .th, .td {
                border-bottom: none;
            }
        }
    }
    .th, .td {
        color: $color-third;
        display: table-cell;
        font-size: 14px;
        font-weight: 600;
    }
    .td {
        text-align: center;
    }
    .th {
        color: $color-primary;
        text-align: left;
        text-transform: capitalize;
    }
    .info {
        color: $color-eighth;
        display: inline-block;
        font-weight: bold;
        margin-top: 6px;
    }

    .label-round {
        align-items: center;
        border-radius: 8px;
        color: white;
        display: inline-flex;
        font-size: 11px;
        justify-content: center;
        min-width: 74px;
        padding: 6px 12px;
        &.--blue {
            background-color: $color-eighth;
        }
        &.--yellow {
            background-color: $color-ninth;
        }
    }

    .align-center {
        text-align: center;
    }
    .align-left {
        text-align: left;
    }
    .align-right {
        text-align: right;
    }

    &.--fixed {
        .thead {
            background-color: white;
            left: 0;
            position: sticky;
            top: 0;
        }
    }
}

.scroll-y {
    display: inherit;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}