@import '../../assets/styles/settings/variables';

.profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    .name {
        color: $color-primary;
        font-size: 14px;
        font-weight: 600;
        transition: $transition-lazy;
    }
    .image {
        background-color: white;
        border: 2px solid $color-border;
        border-radius: 48px;
        height: 48px;
        margin-left: 16px;
        padding: 2px;
        width: 48px;
        transition: $transition-lazy;
        img {
            border-radius: 40px;
            object-fit: cover;
            width: 40px;
        }
    }

    &:hover {
        .name {
            color: $color-seventh;
        }
        .image {
            border-color: $color-seventh;
        }
    }
}