@import '../../assets/styles/settings/variables';

.header-top {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 28px 0 56px 0;
    position: relative;
    z-index: 30;
    .title {
        color: $color-primary;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }
    
    .nav {
        align-items: center;
        display: flex;
        .line {
            border-right: 1px solid $color-border;
            height: 32px;
            margin: 0 32px;
        }
    }
}