@import '../../assets/styles/settings/variables';

.orders {
    background-color: white;
    border: 1px solid $color-border;
    border-radius: 8px;
    .scroll-y {
        max-height: 315px;
    }
    .table {
        .thead {
            padding-bottom: 45px;
        }
        .tbody {
            .th, .td {
                padding: 14px 32px;
            }
        }
        .th, .td {
            font-size: 12px;
        }
    }
}