@import '../../assets/styles/settings/variables';

.splash-screen {
    align-items: center;
    background-color: $color-seventh;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .b1 {
        animation: stroke_fill 1s linear forwards;
        stroke-dasharray: 324.774;
        stroke-dashoffset: 324.774;
        animation-delay: 1s;
      }
      @keyframes stroke_fill {
        0% {
          fill: #FC3C8D;
        }
        50% {
          fill: #FC3C8D;
          stroke-dashoffset: 0;
        }
        100% {
          fill: white;
          stroke-dashoffset: 0;
        }
      }
}