@import '../../assets/styles/settings/variables';

.card {
    align-items: center;
    background-color: white;
    border: 1px solid $color-border;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 134px;
    padding: 0 12px;
    transition: $transition-lazy;
    
    .title, .value {
        text-align: center;
        transition: $transition-lazy;
    }

    .title {
        color: $color-third;
        font-size: 19px;
    }

    .value {
        color: $color-primary;
        font-size: 40px;
        margin-top: 10px;
    }
    &:hover {
        border-color: $color-seventh;
        transform: scale(1.08);
        .title, .value {
            color: $color-seventh;
        }
    }
}