@import '../../assets/styles/settings/variables';

.notify {
    margin-left: 24px;
    position: relative;
    .button-notify {
        cursor: pointer;
        transition: $transition-lazy;
        position: relative;
        .alert {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(30%, -45%);
            .ball {
                background-color: $color-seventh;
                border: 2px solid $color-bg;
                border-radius: 13px;
                height: 13px;
                width: 13px;
                
            }
        }
        &:hover {
            transform: scale(1.2);
            svg {
                path {
                    fill: $color-second;
                }
            }
        }
    }

    .notify-list {
        background-color:white;
        bottom: 0;
        box-shadow: 0 6px 8px rgba(0,0,0, .3);
        border-radius: 10px;
        height: 0;
        left: 50%;
        max-height: 260px;
        opacity: 0;
        overflow-y: scroll;
        position: absolute;
        transform: translate(-50%, 105%);
        width: 220px;
        transition: $transition-lazy;
        z-index: 30;
    }
    
    .notify-item {
        border-bottom: 1px solid darken($color-third, 0);
        color: darken($color-third, 20);
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        opacity: 0;
        padding: 10px 14px;
        position: relative;
        text-align: left;
        transition: all .8s ease-in-out;
        transform: translateY(20%);
        &:after {
            background-color: $color-tenth;
            border-radius: 8px;
            content: "";
            height: 8px;
            width: 8px;
            position: absolute;
            right: 14px;
            top: 50%;
            transition: $transition-lazy;
            transform: translateY(-50%);
        }
        &:hover {
            background-color: $color-tenth;
            border-bottom-color: $color-tenth;
            color: white;
            &:after {
                background-color: white;
            }
        }
        &.--noread {
            background-color: rgba(254, 196, 0, .3);
            &:after {
                background-color: $color-ninth;
            }
            &:hover {
                background-color: $color-ninth;
                border-bottom-color: $color-ninth;
                color: white;
                &:after {
                    background-color: white;
                }
            }
        }
    }

    &:hover {
        .notify-list {
            height: auto;
            opacity: 1;
            transform: translate(-50%, 100%);
        }
        .notify-item {
            opacity: 1;
            transform: translateY(0);
        }
    }
}