@import '../../assets/styles/settings/variables';

.select {
    display: inline-block;
    position: relative;
    width: auto;
    .label {
        color: $color-primary;
        cursor: pointer;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        position: relative;
        transition: $transition-lazy;
        &.--small {
            font-size: 14px;
        }
        &::before {
            bottom: 0;
            border-bottom: 1px solid $color-primary;
            content: "";
            height: 0; 
            position: absolute;
            right: 0;
            transition: $transition-lazy;
            width: 100%; 
        }
        &::after {
            bottom: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid $color-primary;
            content: "";
            height: 0; 
            position: absolute;
            right: 0;
            transform: translate(100%, 6px);
            transition: $transition-lazy;
            width: 0; 
        }
        &:hover {
            &::before {
                border-color: $color-seventh;
            }
            &::after {
                border-top-color: $color-seventh;
            }
            color: $color-seventh;
        }
    }
    .options {
        background-color:white;
        bottom: 0;
        box-shadow: 0 6px 8px rgba(0,0,0, .3);
        border-radius: 10px;
        height: 0;
        left: 50%;
        max-height: 260px;
        opacity: 0;
        overflow-y: scroll;
        position: absolute;
        transform: translate(-50%, 110%);
        width: 220px;
        transition: $transition-lazy;
        z-index: 10;
        .option {
            border-bottom: 1px solid $color-border;
            color: $color-third;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            opacity: 0;
            padding: 10px 20px;
            text-align: center;
            transition: all .8s ease-in-out;
            transform: translateY(30%);
            &:hover {
                background-color: $color-seventh;
                border-bottom-color: $color-seventh;
                color: white;
            }
        }
        &.--small {
            font-size: 14px;
            width: 140px;
            left: 0%;
            .option {
                font-size: 14px;
                padding: 8px 10px;
            }
        }
    }

    &.--pink {
        .label {
            color: $color-seventh;
            &::before {
                border-color: $color-seventh;
            }
            &::after {
                border-top-color: $color-seventh;
            }
            &:hover {
                &::before {
                    border-color: darken($color-seventh, 20);
                }
                &::after {
                    border-top-color: darken($color-seventh, 20);
                }
                color: darken($color-seventh, 20);
            }
        }
    }
    
    &:hover {
        .options {
            height: auto;
            opacity: 1;
            transform: translate(-50%, 100%);
            .option {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}