//------------------------------------*\
//    #VARIABLES
//------------------------------------*/

//
// Fonts
//
$font-primary: 'Mulish', sans-serif;

//
// Colors
//
$color-primary: #252733;
$color-second: #363740;
$color-third: #9FA2B4;
$color-fourth: #A4A6B3;
$color-fifth: #C5C7CD;
$color-sixth: #DDE2FF;
$color-seventh: #FC3C8D;
$color-eighth: #2F80ED;
$color-ninth: #FEC400;
$color-tenth: #219653;
$color-eleven: #b92c27;
$color-selection-bg: $color-seventh;
$color-selection-txt: #ffffff;
$color-bg: #F7F8FC;
$color-border: #DFE0EB;

//
// Transitions
//
$transition-default: all 200ms linear, z-index 0ms, display 0ms;
$transition-lazy: all 400ms ease-in-out;
$transition-default-with-delay: all 200ms linear 200ms, z-index 0ms, display 0ms;

//
// Responsive
//
$extra-small: 576px;
$small: 768px;
$large: 1024px;
$extra-large: 1280px;