@import '../../assets/styles/settings/variables';

.total-sales {
    background-color: white;
    border: 1px solid $color-border;
    border-radius: 8px;
    .scroll-y {
        max-height: 315px;
    }
}