@import '../../assets/styles/settings/variables';

.menu-side-bar {
    background-color: $color-second;
    width: 100%;
    min-height: 100vh;
    .logo {
        margin: 40px 29px;
        display: inline-flex;
        transition: $transition-lazy;
        &:hover {
            transform: scale(1.1);
        }
    }

    .link {
        align-items: center;
        color: $color-fourth;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 56px;
        padding: 0 29px;
        position: relative;
        transition: $transition-lazy;
        width: 100%;
        svg {
            opacity: .4;
            transition: $transition-lazy;
        }

        .name {
            margin-left: 24px;
        }
        
        &::before {
            content: "";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: $transition-lazy;
            width: 3px;
        }
        
        &.-active, &:hover {
            background: rgba(252, 60, 141, .08);
            color: white;
            &::before {
                background-color: $color-seventh;
                opacity: 1;
            }

            svg {
                fill: white;
                opacity: 1;
                transform: scale(1.2);
            }
        }
    }

    .line {
        border: none;
        border-bottom: 1px solid $color-sixth;
        height: 0;
        margin: 16px 0;
        opacity: .06;
        width: 100%;
    }
}