@import '../../assets/styles/settings/variables';

.search {
    align-items: center;
    display: flex;
    position: relative;
    .button-search {
        cursor: pointer;
        transition: $transition-lazy;
        &:hover {
            transform: scale(1.2);
            svg {
                circle, path {
                    stroke: $color-second;
                }
            }
        }
    }

    .form-search {
        margin-right: 10px;
        overflow: hidden;
        width: 0;
        input {
            background-color: white;
            border: 1px solid $color-border;
            border-radius: 4px;
            color: $color-second;
            font-size: 14px;
            padding: 12px 10px;
            transition: $transition-lazy;
            opacity: 0;
            width: 0;
        }
    }

    &:hover {
        .form-search {
            width: auto;
            input {
                opacity: 1;
                width: 240px;
                &:focus, &:hover {
                    border-color: $color-second;
                }
            }
        }
    }
}