@import '../../assets/styles/settings/variables';

.graphic {
    background-color: white;
    border: 1px solid $color-border;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    &-body {
        border-right: 1px solid $color-border;
        padding: 32px;
        width: calc(100% - 342px);
        .title {
            color: $color-primary;
            font-size: 19px;
            margin-bottom: 8px;
        }
        .infos {
            color: $color-third;
            display: flex;
            justify-content: space-between;
            margin-bottom: 54px;
            .month {
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .label-graphic {
                align-items: center;
                display: flex;
                font-size: 12px;
                font-weight: 600;
                justify-content: flex-end;
                .color {
                    border-radius: 2px;
                    display: inline-block;
                    height: 2px;
                    width: 16px;
                    margin: 0 8px 0 46px;
                    &-primary {
                        background-color: $color-seventh;
                    }
                    &-second {
                        background-color: $color-border;
                    }
                }
            }
        }
    }
    &-filters {
        width: 342px;
        .filter {
            align-items: center;
            border-bottom: 1px solid $color-border;
            display: flex;
            flex-direction: column;
            height: 20%;
            justify-content: center;
            .title {
                color: $color-third;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
            }
            .value {
                color: $color-primary;
                font-size: 24px;
                line-height: 24px;
                &.--success {
                    color: $color-tenth;
                }
                &.--warning {
                    color: #FEC400;
                }
                &.--alert {
                    color: $color-eleven;
                }
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}